/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.5rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --spc-color: #906272;
  --bg-color: #414141;
  --gray-text: #525252;
}
body {
  font-family: "Ruhl", sans-serif;
}
h1 {
  font-family: "Vibes", sans-serif;
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Nav Section */
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}
#logo {
  flex: 1 1 20rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}
.nav-links a:hover {
  color: var(--spc-color);
}
#hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}
.hero-introduction h2 {
  padding-top: 3rem;
}
.hero-introduction p {
  padding: 5rem 5rem;
  color: var(--gray-text);
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 4rem;
}
.hero-introduction a:hover {
  color: var(--spc-color);
  border: 3px solid var(--spc-color);
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}
.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant-entrance 1.5s ease-in-out, opening 2s ease-in-out,
    plants-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  max-height: 80%;
}
.plant2 {
  left: 40%;
}

/* Animations */
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plants-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.burger,
.menu-check {
  display: none;
}
/* About Section */

#about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.about-text {
  color: white;
  background: var(--bg-color);
  flex: 2 1 40rem;
  justify-content: space-around;
}
.about-text div {
  padding: 3rem 5rem;
}
.about-text h2 {
  padding: 4rem;
  font-family: "Vibes", sans-serif;
}
.about-text h3 {
  padding: 2rem 0rem;
  font-family: "Ruhl Medium", sans-serif;
}
.about-image {
  flex: 1 1 40rem;
  position: relative;
}
.about-image h5 {
  position: absolute;
  letter-spacing: 3rem;
  top: 20%;
  left: 50%;
  transform: translate(-46%, -20%);
  color: var(--bg-color);
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Gallery */

#gallery {
  min-height: 100vh;
  text-align: center;
}
.gallery-head {
  min-height: 12vh;
  padding: 1vh 0%;
}
.gallery-head h2 {
  color: var(--bg-color);
}
.gallery-head p {
  color: var(--spc-color);
}
.gallery-images {
  display: grid;
  min-height: 88vh;
  grid-template-columns: repeat(3, 1fr);
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-1 {
  grid-column: 1/3;
}
.gallery-2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
/* Contact */

#contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper {
  flex: 3 1 40rem;
}
.form-wrapper h2 {
  font-size: var(--big);
  color: var(--bg-color);
  margin: 5vh 0% 0vh;
}
.form-wrapper span {
  color: var(--spc-color);
}

.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: var(--bg-color);
  color: white;
  border: none;
  padding: 1rem;
}
.form-wrapper button {
  display: block;
  padding: 1rem 8rem;
  background: var(--spc-color);
  color: white;
  border: none;
  margin: 0 auto;
}
#contact img {
  flex: 1 1 40rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background: var(--bg-color);
  color: white;
  min-height: 10vh;
  display: flex;
  padding: 1vh 5%;
  align-items: center;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer img {
  display: block;
}
footer h4 {
  flex: 3 1 40rem;
  font-size: var(--text);
}
footer img:hover {
  filter: invert(47%) sepia(13%) saturate(919%) hue-rotate(288deg)
    brightness(88%) contrast(92%);
}
/* Media Query */
@media screen and (max-width: 859px) {
  #hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 5rem 3rem;
  }
  /* Burger nav */
  .burger {
    position: relative;
    display: block;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .menu-check {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
    display: block;
  }
  .menu-check:checked + .nav-links {
    transform: translateX(-100%);
  }
  .menu-check:checked ~ .burger span {
    background: white;
  }
  .menu-check:checked ~ .burger span:nth-child(1) {
    transform: rotateZ(45deg) translateY(300%);
  }
  .menu-check:checked ~ .burger span:nth-child(2) {
    opacity: 0;
  }
  .menu-check:checked ~ .burger span:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-300%);
  }
  /* Gallery */
  .gallery-images {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  #gallery img {
    grid-column: auto;
    grid-row: auto;
  }
  /* Contact */
  #contact img {
    display: none;
  }
}
